<section class="w-full flex justify-center px-6">
  <div class="max-w-6xl w-full flex flex-col md:flex-row items-center gap-12">
    <div class="flex justify-center md:w-1/2 w-full px-4">
      <div class="relative w-full max-w-sm md:max-w-md">
        
        <div class="absolute -top-4 -left-4 w-full h-full bg-secondary rounded-2xl z-0"></div>

        
        <img
          src="eu-pc.jpg"
          alt="Foto de Valéria Soares"
          class="relative w-full h-[420px] md:h-[500px] object-cover rounded-2xl shadow-xl z-10"
        />
      </div>
    </div>

    <!-- TEXTO -->
    <div class="md:w-1/2 text-center md:text-left space-y-6">
      <app-title subtitle="Sobre mim" title="Criando soluções digitais" />

      <div class="mt-5 space-y-6">
        <p class="text-gray-600 leading-relaxed">
          Sou desenvolvedora e estudante de Sistemas de Informação. Ao longo de 3 anos, venho
          construindo aplicações web, atuando tanto no front-end quanto no back-end. Gosto de
          transformar ideias complexas em interfaces simples e intuitivas.
        </p>

        <p class="text-gray-600 leading-relaxed">
          Trabalho com Angular, TypeScript, C# .NET e diversas tecnologias do ecossistema web.
          Acredito que um bom código é aquele que resolve problemas reais.
        </p>

        <p class="text-gray-600 leading-relaxed">
          Quando não estou programando, gosto de produzir vídeos para o YouTube, ler um bom livro ou
          assistir a uma série ou filme.
        </p>
      </div>
    </div>
  </div>
</section>
