<div class="flex items-center gap-6 mt-8 text-gray-400 text-2xl">
  <a href="https://www.linkedin.com/in/valeria-soares-santos" target="_blank" class="hover-secondary transition duration-300">
    <i class="fab fa-linkedin-in"></i>
  </a>

  <a href="https://github.com/valeriasoars" target="_blank" class="hover-secondary transition duration-300">
    <i class="fab fa-github"></i>
  </a>

  <a href="https://www.instagram.com/tech.valeria/" target="_blank" class="hover-secondary transition duration-300">
    <i class="fab fa-instagram"></i>
  </a>

  <a href="https://www.youtube.com/@valeriasoaresl" target="_blank" class="hover-secondary transition duration-300">
    <i class="fab fa-youtube"></i>
  </a>
</div>
